@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h1 class="text-center mb-4 text-secondary">About Us</h1>
    <div class="m-auto w-50 fs-6 text-secondary lh-lg">
        <p>
            

            Welcome to Learnify, 
            your one-stop platform for a world of knowledge! Whether you're a seasoned learner, a
            curious beginner, or an expert seeking to share your wisdom, Learnify empowers you to achieve your
            educational goals.

            <h3 class="mt-4">Dive into a sea of Resources</h3>

            Explore a vast ocean of diverse learning materials, meticulously curated to cater to a wide range of
            interests and learning styles. Delve into informative articles, gain practical insights from engaging video
            tutorials, or master new skills with interactive step-by-step guides. Our ever-expanding collection ensures
            you'll always find something new to ignite your curiosity and fuel your learning journey.
<br>
            <h3 class="mt-4">Become a part of the Learning Community</h3>

            At Learnify, we believe that learning is a collaborative process. Registered users can actively contribute
            to the platform's richness by uploading their own resources. Share your expertise, create insightful
            content, and help others embark on their learning adventures. Whether you're a passionate educator, a
            seasoned professional, or simply someone with valuable knowledge to impart, your contributions will empower
            fellow learners and shape the landscape of Learnify.
<br>
            <h3 class="mt-4">Empowering Users and Superusers</h3>

            For registered users, Learnify offers a suite of tools to manage your contributions. Upload, edit, and
            delete your resources with ease, ensuring your content remains up-to-date and reflects your evolving
            expertise. Additionally, users can track their learning progress by creating custom playlists or bookmarking
            their favorite resources for easy access. <br>

            Superusers play a vital role in maintaining the platform's quality. They ensure the integrity of
            user-uploaded content by reviewing and approving resources before publication. This commitment to quality
            control guarantees a trustworthy learning environment for all users.
<br>
            <h3 class="mt-4">Join Learnify Movement!</h3>

            Learnify is more than just a platform, it's a vibrant community of learners and educators united by a shared
            passion for knowledge. Sign up today and unlock a world of possibilities! <br>

            <strong>
            Explore: Discover a treasure trove of valuable resources. <br>
            Contribute: Share your knowledge and empower others. <br>
            Connect: Join a thriving learning community. <br>
            Grow: Elevate your skills and unlock your full potential. <br>



            </strong>
            With Learnify, the journey of learning is always enriching, collaborative, and rewarding. Start your
            exploration today!

        </p>
    </div>

      <div class="text-center buttons mt-4">
        <a href="https://github.com/AntsOrg/learnify/blob/main/Contribution.md" target="_blank">
        <button class="btn btn-secondary">
            View Contribution.md
        </button></a>

        <a href="https://github.com/AntsOrg/learnify" target="_blank">
        <button class="btn btn-success">
            Contribute
        </button>
        </a>
      </div>
 
</div>