@{
    ViewData["Title"] = " One stop platform for world of knowledge.";
}


@if (TempData["Success"] != null)
{
    <div id="alert-dialog" class="alert alert-success">@TempData["Success"]</div>
}

<div class="header-text text-center gap-3">

    <h1 class="display-2 mt-4">Empower your <span class="text-primary display-2 fw-bold">Learning</span></br> Journey
        with
        Learnify</h1>
    <p class="fs-3 p-4">A one stop platform for world of knowledge </br> maintened by community for community.</p>
    <button class="btn btn-success py-2 px-4 mb-4">
        <a class="text-decoration-none text-white fs-4" asp-area="" asp-controller="Resource"
            asp-action="ViewResource">Explore
            Resources</a>
    </button>
</div>
@* <div class="container">
<div class="cover-image align-centers">
<img src="~/images/booksCover.jpeg" alt="booksCoverImage">
</div>
</div> *@

<div class="container-fluid  offers-section p-4 mt-4">
    <h1 class="display-4 text-center">What we can except from Learnify?</h1>
    <p class="mb-4 fs-4 text-center">From accessing a vast library of resources to actively contributing your own
        knowledge,
        Learnify fosters both individual growth and a collaborative learning environment.
    </p>

    <div class="mt-4 pt-4 offers row gap-4 justify-content-center">
        <div class="card wide-res" style="width: 18rem;">
            <img src="~/images/book.png" class="" alt="resources">
            <div class="card-body">
                <h5>Wide Range of Resources</h5>
                <p class="card-text">Discover diverse learning materials – articles,
                    videos, tutorials, and more – to fuel your learning journey.</p>
            </div>
        </div>

        <div class="card ui-friendly" style="width: 18rem;">
            <img src="~/images/reading.png" class="" alt="user-reading">
            <div class="card-body">
                <h5>User Friendly Platform</h5>
                <p class="card-text">Wide ranges of resources. Navigate and access content seamlessly with our
                    intuitive interface. Find what you need quickly and easily.</p>
            </div>
        </div>

        <div class="card contribute-and-share" style="width: 18rem;">
            <img src="~/images/puzzle.png" class="" alt="puzzle">
            <div class="card-body">
                <h5>Contribute and Share</h5>
                <p class="card-text">Become a valuable member of the Learnify community by sharing your knowledge
                    and expertise.</p>
            </div>
        </div>

        <div class="card moderation" style="width: 18rem;">
            <img src="~/images/admin.png" class="" alt="admin">
            <div class="card-body">
                <h5>Superuser Oversight</h5>
                <p class="card-text">Learnify ensures the contents on the platform provided are valuable and
                    reliable learning materials by overseeing user-uploaded content.</p>
            </div>
        </div>
    </div>


</div>
<div class="container  text-center h-25 learn-everything">
    <h2 class="display-4  text-center">Find everything you are looking for.</h2>
    <p class="text-center fs-4">Learnify has broad category of many materials whether it is related to psychology,
        business, computer science or any other.</p>

    <div class="row justify-content-center gap-4 text-center">
        <div class="card p-4" style="width: 18rem;">
            <img src="~/images/mental-health.png" class="card-img-top" alt="psychology">
            <div class="card-body mt-4">
                <p class="card-text fs-4 fw-semibold">Psychology</p>
            </div>
        </div>

        <div class="card p-4" style="width: 18rem;">
            <img src="~/images/business-idea.png" class="card-img-top" alt="psychology">
            <div class="card-body mt-4">
                <p class="card-text  fs-4 fw-semibold">Business</p>
            </div>
        </div>

        <div class="card p-4" style="width: 18rem;">
            <img src="~/images/computer-engineer.png" class="card-img-top" alt="computer-engineer">
            <div class="card-body mt-4">
                <p class="card-text  fs-4 fw-semibold">Computer Science</p>
            </div>
        </div>
    </div>

    <button class="mt-4 px-4 py-2 btn btn-outline-success">
        View Full Sources
    </button>

    <div class="container my-4 py-4">
        <h2>Support Us!</h2>

        <div class="w-50 m-auto text-center d-flex me-auto">
            <p class="fs-6">Learnify is open-source project initialized as a college project, but it has a lot of
                potential for students or anyone who wants to find better resources. Your contribution to maitain this
                project is highly valued in our community.</p>
        </div>

        <div class="buttons">
            <a href="https://github.com/kshetritej/learnify/blob/main/Contribution.md" target="_blank">
                <button class="btn btn-secondary">
                    View Contribution.md
                </button></a>

            <a href="https://github.com/kshetritej/learnify" target="_blank">
                <button class="btn btn-success">
                    Contribute
                </button>
            </a>
        </div>
    </div>


</div>
