@{
    ViewData["Title"] = "Home Page";
}


<div class="header-text text-center gap-3">
    <h1 class="display-2 mt-4">Empower your <span class="text-primary display-2 fw-bold">Learning</span></br> Journey
        with
        Learnify</h1>
    <p class="fs-3 p-4">A one stop platform for world of knowledge </br> maintened by community for community.</p>
    <button class="btn btn-success py-2 px-4 mb-4">
        <a class="text-decoration-none text-white fs-4" asp-area="" asp-controller="Resource" asp-action="Index">Explore
            Resources</a>
    </button>
</div>
@* <div class="container">
<div class="cover-image align-centers">
<img src="~/images/booksCover.jpeg" alt="booksCoverImage">
</div>
</div> *@

<div class="container p-4 ">
    <h1 class="display-6 fw-medium text-center">What it offers? </h1>
    <p class="fs-6 text-center">From accessing a vast library of resources to actively contributing your own knowledge,</br>
        Learnify fosters both individual growth and a collaborative learning environment.
    </p>

    <div class="offers row gap-4 justify-content-center">
        <div class="card wide-res" style="width: 18rem;">
            <img src="~/images/book.png" class="" alt="resources">
            <div class="card-body">
                <h5>Wide Range of Resources</h5>
                <p class="card-text">Discover diverse learning materials – articles,
                    videos, tutorials, and more – to fuel your learning journey.</p>
            </div>
        </div>

        <div class="card ui-friendly" style="width: 18rem;">
            <img src="~/images/reading.png" class="" alt="user-reading">
            <div class="card-body">
                <h5>User Friendly Platform</h5>
                <p class="card-text">Wide ranges of resources.Navigate and access content seamlessly with our
                    intuitive interface. Find what you need quickly and easily.</p>
            </div>
        </div>

        <div class="card contribute-and-share" style="width: 18rem;">
            <img src="~/images/puzzle.png" class="" alt="puzzle">
            <div class="card-body">
                <h5>Contribute and Share</h5>
                <p class="card-text">Become a valuable member of the Learnify community by sharing your knowledge
                    and expertise.</p>
            </div>
        </div>

        <div class="card moderation" style="width: 18rem;">
            <img src="~/images/admin.png" class="" alt="admin">
            <div class="card-body">
                <h5>Superuser Oversight</h5>
                <p class="card-text">Learnify ensures the contents on the platform provided are valuable and
                    reliable learning materials by overseeing user-uploaded content.</p>
            </div>
        </div>
    </div>


   </div>
 <div class="h-25 learn-everything">
        <h2>Learn everything you need to know</h2>
        
    </div>

